/*
  ***
  CSS for Lina and David's wedding website.
  ***
*/
  
/* General CSS */
body { 
  padding-top: 50px; 
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

h1, h2, h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

hr {
  margin: 0 auto;
}

.hidden {
  display: none;
}

section {
  margin: 30px auto;
}

.button {
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  padding: 3px 16px;
}

/* Header CSS */
nav a {
  white-space: nowrap;
}

.nav-item {
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.nav-item:hover {
  text-decoration: underline !important;
  color: black !important;
}

/* Masthead / Main Image CSS */
.masthead {
  background-image: linear-gradient(to bottom, #fdb4b4, #FECDCD);
  color: white;
  height: 80vh;
}

.masthead h1 {
  font-size: 100px;
}

.masthead p {
  font-size: 20px;
}

#main-img {
  padding: 8px;
  width: 80%;
  max-width: 720px;
  height: auto;
}

.gold-hr {
  border: 2px solid #D7BE69;
}

.masthead hr {
  width: 100% !important;
}

.masthead svg {
  width: 5%;
  max-width: 30px;
  height: auto;
}

/* Details CSS */
#where-img, #when-img {
  width: 40px;
  height: auto;
}

#section-details h1 {
  color: #D7BE69;
}

#section-details h2, #section-details h3 {
  font-size: 34px;
}

#section-details h3, #date {
  font-size: 26px;
}

#section-details .button {
  background: white;
  border: 3px solid #D7BE69;
  color: #D7BE69;
}

#section-details .button:hover {
  background: #D7BE69;
  border: 3px solid #D7BE69;
  color: white;
}

/* Virtual Viewing CSS */
#section-virtual-viewing {
  background-image: linear-gradient(to bottom, #fdb4b4, #FECDCD);
}

#fair {
  padding: 8px;
  max-width: 100%;
  max-height: 480px;
  border-color: #FFFFFF;
}

/* Getting There CSS */
#section-getting-there {
  background: #FFFFe6;
}

#section-getting-there h1 {
  color: #D7BE69;
}

#section-getting-there h2 {
  text-align: center;
}

#section-getting-there hr {
  width: 80% !important;
}

#section-getting-there .button {
  background: #FFFFe6;
  border: 3px solid #D7BE69;
  color: #D7BE69;
}

#section-getting-there .button:hover {
  background: #D7BE69;
  border: 3px solid #D7BE69;
  color: #FFFFe6;
}

#section-getting-there .list-group-item {
  background: #FFFFe6;
  color: black;
  font-weight: 495;
}

/* Accomodation CSS */
#m-resort {
  padding: 8px;
  max-width: 100%;
  max-height: 100%;
  border-color: #FFFFFF;
}

#section-accomodation {
  background-image: linear-gradient(to bottom, #009999, #008080);
  color: white;
  font-weight: 495;
}

#section-accomodation .button {
  float: right;
  background: #008080;
  border: 3px solid white;
  color: white;
}

#section-accomodation .button:hover {
  background: white;
  border: 3px solid white;
  color: #008080;
}

/* Registry CSS */
/* RSVP CSS */
#section-registry h1, #section-rsvp h1 {
  color: #D7BE69;
}

/* Photos CSS */
#section-photos img {
  max-width: 100%;
  max-height: 480px;
}

#section-photos h1 {
  color: #D7BE69;
}

/* Footer CSS */
footer {
  background-color: #434242;
}